<nav>
  <div class="nav-wrapper">
    {{#link-to "portal" class="left"}}
      <i class="large material-icons">attach_money</i>
    {{/link-to}}
    {{#link-to "portal.lancamento" class="left hide-on-large-only"}}
      <i class="large material-icons">archive</i>
    {{/link-to}}
    {{#link-to "portal.relatorio" class="left hide-on-large-only"}}
      <i class="large material-icons">graphic_eq</i>
    {{/link-to}}
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>{{#link-to "portal.lancamento"}}Lançamentos{{/link-to}}</li>
      <li>{{#link-to "portal.relatorio"}}Relatórios{{/link-to}}</li>
    </ul>
  </div>
</nav>
<div class="container" style="width: 90%;">
  <div id="login-page" class="row login-page">
    <div class="col s12 m4 offset-m4 z-depth-4 card-panel">
      <form class="login-form" {{action "signIn" on="submit"}}>
        <div class="row div-titulo-login">
          <div class="col s12 center">
            <img src="/images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text">Sistema Financeiro</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix pt-5">person_outline</i>
            {{input id="email" class="email" value="asmelo10" required=true placeholder="E-mail" maxlength=50}}
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix pt-5">lock_outline</i>
            {{input id="senha" class="senha" type="password" required=true value=senha placeholder="Senha" maxlength=20}}
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button type="submit" class="submit btn waves-effect waves-light col s12">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
